services:
  # 1. Control Plane
  controller:
    build:
      context: ../controller
      dockerfile: Dockerfile.controller
    container_name: aegis-controller
    hostname: controller
    cap_add:
      - NET_ADMIN
    networks:
      private_net:
        ipv4_address: 172.21.0.5
    command: >
      sh -c "ip route add 172.20.0.0/24 via 172.21.0.10 && /app/controller"

  # 2. Data Plane and router
  agent:
    build:
      context: ../agent
      dockerfile: Dockerfile.agent
    container_name: aegis-agent
    hostname: gateway
    privileged: true
    cap_add:
      - NET_ADMIN
      - SYS_ADMIN
    sysctls:
      - net.ipv4.ip_forward=1
    volumes:
      - /sys/fs/bpf:/sys/fs/bpf
      - /sys/kernel/debug:/sys/kernel/debug
    networks:
      public_net:
        ipv4_address: 172.20.0.10
      private_net:
        ipv4_address: 172.21.0.10

  # 3. Zone A - Public
  client:
    image: alpine:latest
    container_name: aegis-client
    cap_add: [NET_ADMIN]
    networks:
      public_net:
        ipv4_address: 172.20.0.5
    command: >
      sh -c "ip route add 172.21.0.0/24 via 172.20.0.10 && sleep infinity"

  # 4. Zone B - Private
  protected_service:
    image: alpine:latest 
    container_name: aegis-service
    cap_add: [NET_ADMIN]
    networks:
      private_net:
        ipv4_address: 172.21.0.20
    command: >
      sh -c "ip route add 172.20.0.0/24 via 172.21.0.10 && sleep infinity"

networks:
  public_net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/24
  private_net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.21.0.0/24
    internal: true 
