services:
  # Control Plane
  controller:
    build:
      context: ../controller
      dockerfile: Dockerfile.controller
    container_name: aegis-controller
    hostname: controller
    cap_add:
      - NET_ADMIN
    volumes:
      - ./certs:/app/certs
    networks:
      private_net:
    command: >
      sh -c "ip route add 172.20.0.0/24 via 172.21.0.10 && /app/controller"

  # Data Plane and router
  agent:
    build:
      context: ..
      dockerfile: agent/Dockerfile.agent
    container_name: aegis-agent
    hostname: gateway
    privileged: true
    environment:
      - RUST_LOG=debug
    cap_add:
      - NET_ADMIN
      - SYS_ADMIN
    sysctls:
      - net.ipv4.ip_forward=1
    volumes:
      - /sys/fs/bpf:/sys/fs/bpf
      - /sys/kernel/debug:/sys/kernel/debug
      - ./certs:/app/certs
    networks:
      public_net:
        ipv4_address: 172.20.0.10
      private_net:
        ipv4_address: 172.21.0.10

  # DNS for devices in public zone
  dns:
    image: alpine:latest
    container_name: aegis-dns
    hostname: dns-server
    networks:
      public_net:
        ipv4_address: 172.20.0.2
      private_net:
    command: >
      sh -c "apk add --no-cache dnsmasq &&
      dnsmasq -k \
      --no-resolv \
      --server=127.0.0.11 \
      --log-queries \
      --log-facility=-"

  # Zone A - Public
  client:
    image: alpine:latest
    container_name: aegis-client
    cap_add: [NET_ADMIN]
    dns:
      - 172.20.0.2
    volumes:
      - ./aegis-cli.sh:/usr/local/bin/app
    networks:
      public_net:
        ipv4_address: 172.20.0.5
    command: >
      sh -c "apk add --no-cache bash wget &&
      chmod +x /usr/local/bin/app &&
      ip route add 172.21.0.0/24 via 172.20.0.10 &&
      sleep infinity"

  # Zone B - Private
  protected_service_1:
    image: alpine:latest
    container_name: aegis-protected-service1
    hostname: protectedservice1
    cap_add: [NET_ADMIN]
    networks:
      private_net:
    command:
      - sh
      - -c
      - |
        ip route add 172.20.0.0/24 via 172.21.0.10
        while true; do
          echo -e "HTTP/1.1 200 OK\n\nHello from protected service 1" | nc -l -p 8080
        done

  protected_service_2:
    image: alpine:latest 
    container_name: aegis-protected-service2
    hostname: protectedservice2
    cap_add: [NET_ADMIN]
    networks:
      private_net:
    command: 
      - sh
      - -c
      - |
        ip route add 172.20.0.0/24 via 172.21.0.10
        while true; do 
          echo -e "HTTP/1.1 200 OK\n\nHello from protected service 2" | nc -l -p 8080
        done

  ip-stealer:
    image: alpine
    command: sleep infinity
    container_name: aegis-protected-ip-stealer
    networks:
      private_net:
    profiles: ["manual"]

networks:
  public_net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/24
  private_net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.21.0.0/24
    internal: true 
